<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RandBlog - {% block title %}{% endblock %}</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap"
              rel="stylesheet">

        <!-- CSS Files -->
        <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

        <link href="../static/css/main.css" rel="stylesheet">



    </head>

    <body>
        {% include('navbar.html') %}

        <main id="main">
            <div class="container pt-5">
                {# Success Messages #}
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                    {% if messages %}
                        <div class="row">
                            <div class="alert alert-success">
                                <ul class="mb-0">
                                    {%- for msg in messages %}
                                        <li>{{ msg }}</li>
                                    {% endfor -%}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                {# Error Messages #}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        <div class="row">
                            <div class="alert alert-danger">
                                <ul class="mb-0">
                                    {%- for msg in errors %}
                                        <li>{{ msg }}</li>
                                    {% endfor -%}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% block content %}{% endblock %}
            </div>
        </main><!-- End #main -->

        <!-- JS Files -->
        <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </body>
</html>